.icon {
    height: 200px;
    width: 200px;
    align-content: center;
    opacity: 0.45;
    margin-top: 3%;
    margin-left: 35%;
}
body{
    background-image: url(./images/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.first {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
   text-align: center;
    /* margin-left: 43%; */
    border-radius: 24px;
    width:300px;
    height:50px;
    background-color: rgba(0, 255, 255, 0);
}
.welcome {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

   text-align: center;
}
.service {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}

.new{
    display: flex;
    flex-direction: column;
    align-items: center;
}